/* This is the game title */
#game-title{
    width: 100%;
    font-family: 'MedievalSharp', cursive;
    font-size: 40px;
    text-align: center;
    color: gold;
}

/* The container beneath the game title that contains the rest of the game elements */
.container {
    margin: 0px 70px 0px;
}

/* Class for all the elements in the container */
.game{
    font-size: 20px;
    font-family: 'Grenze', serif;
}

/* The container containing all character cards before any have been chosen */
#gamecharArray {
    height: 350px;
    text-align: center;
}

/* Card Character Styles */
.card {
    display: inline-block;
    text-align: center; 
    height: 250px;
    width: 200px;
    margin: 0px 5px 0px;
    padding: 40px 3px 15px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
      }
      
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      /* Add some padding inside the card container */
      .container {
        padding: 2px 16px;
      }

/* Individual Character Card Customizations */
.Arya StarkDiv{
    background: red;

}

/*The divs with cards are going to have a specified height*/
.character-set{
    height:400px;
}

#fight-zone {
    border: solid 3px black;
}
#full-set{
    text-align: center;
    font-size: 30px;
    border: solid 3px black;
}
#user-character {
    display: inline-block;
    width: 40%;
    font-size: 25px;

}
#current-enemy {
    display: inline-block;
    font-size: 25px;
    width: 40%;
}

#enemy-characters {
    border: solid 3px black;
}
#fight-button {
    height: 30px;
    text-align: center
}




